@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two);

body{
    background-image: url(../img/ladrilloMario.png);
    background-repeat: repeat;
    background-size: contain;
}
.console{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameBoy{
    width: 27em;
    height: 43em;
    background-color: #d3ccd3;
    background-image: linear-gradient(transparent 95%, rgba(0,0,0,0.5) 98%,rgba(0,0,0,0.4)99%);
    border-radius: 0.2em 0.2em 5em 1em;
    margin: 5em auto;
    box-shadow: 
    0 0 0.1em #9997,
    0 0 0.25em rgba(0,0,0,0.25) inset,
    -0.02em -0.02em 0.1em rgba(0,0,0,0.6) inset,
    0 0 0.15em rgba(0,0,0,0.85) inset;
}
.screen{
    margin: 2em 1.5em 0 1.5em;
    border: 0.1em white solid ;
    border-radius: 0.8em 0.8em 2.5em 0.8em;
    display: flex;
    align-items: center;
    background-color: #777;
    width: 90%;
    height: 45%;
    box-shadow: 
    0 0 0.02em #514c65,
    0 -0.02em 0.01em #514c65;
}
.gameScreen{
    width: 100%;
}
.topText{
    width: 100%;
    height: 1.5em;
    margin-top: 0;
    margin-bottom: 0.9em;
    color: white;
    font-size: 0.6em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.topText .decorationLines{
    margin: 0 0.1em 0 0.1em;
    width: 24%;
    height: 2em;
    background: 
        linear-gradient(
        transparent 10px,
        #7d1a4a 10px 12px,
        transparent 5px 16px,
        #35224e 16px 18px,
        transparent 10px);
}
.screenContainer{
    display: flex;
}
.screenContainer .batteryBox{
    display: flex;
    align-items: center;
}
.screenContainer .battery{
    color: white;
    font-size: 0.7em;
    margin-left: 0.5em;
}
.screenContainer .battery .batteryLightOff{
    width: 0.8em;
    height: 0.8em;
    background-color: black;
    border-radius: 50%;
    margin-left: 1em;
}
.screenContainer .battery .batteryLightOn{
    width: 0.8em;
    height: 0.8em;
    background-color: #FF0000;
    box-shadow: 0 0 0.30em 0.25em #FF0000;
    border-radius: 50%;
    margin-left: 1em;
}
.screenContainer .game{
    width: 16em;
    height: 14em;
    background: linear-gradient(160deg, rgb(94, 97, 88), white);
    border: black 0.3em inset;
    margin-left: 1em;
}

.consoleName{
    margin-left: 1em;
    color: darkslateblue;
    font-size: 1.3em;
    font-weight: bolder;
}
.consoleName p{
    margin-top: 0.1em;
}
.consoleName .name{
    font-size: 1.3em;
}
.consoleName .subscript{
    font-size: 0.4em;
}

.gameControls{
    display: flex;
    align-items: center;
    margin: 1.5em 1em;
    justify-content: space-between;
}
.arrows{
    width: 7em;
    height: 7em;
    background-color: #777;
    background-image: conic-gradient(transparent 0%, #d3ccd3 200%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftPad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.topBtn { 
    grid-area: 1 / 2 / 2 / 3;
    width: 2em;
    height: 2em;
    background: black;
    position: relative;
    border-radius: 0.2em 0.2em 0 0;
}
.topBtn button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #514c65;
    border-radius: 0.2em 0.2em 0 0;
}
.leftBtn { 
    grid-area: 2 / 1 / 3 / 2;
    width: 2em;
    height: 2em;
    background: black;
    position: relative;
    border-radius: 0.2em 0 0 0.2em; 
}
.leftBtn button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #514c65;
    border-radius: 0.2em 0 0 0.2em;
}
.midPad { 
    grid-area: 2 / 2 / 3 / 3;
    background-color: black;
}
.rightBtn{ 
    grid-area: 2 / 3 / 3 / 4;
    width: 2em;
    height: 2em;
    background: black;
    position: relative;
    border-radius: 0em 0.2em 0.2em 0;
}
.rightBtn button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #514c65;
    border-radius: 0em 0.2em 0.2em 0;
}
.bottomBtn{ 
    grid-area: 3 / 2 / 4 / 3;
    width: 2em;
    height: 2em;
    background: black;
    position: relative;
    border-radius: 0em 0em 0.2em 0.2em; 
}
.bottomBtn button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #514c65;
    border-radius: 0em 0em 0.2em 0.2em; 
}

.btnAB{
    width: 8em;
    height: 3.5em;
    background: linear-gradient(28deg,#EFF2F0,#AE9FA6);
    border-radius: 2.3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: rotate(-20deg);
}
.buttonB{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.buttonB button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #71011B;
    cursor: pointer;
    box-shadow: 
    -0.1em 0.2em 0.4em rgba(0,0,0,1),
    -0.2em 0.3em 0.2em rgba(255, 255, 255, 0.25)inset,
    -0.1em 0.1em 0.1em #FC8AAC inset ;
}
.buttonA{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
}
.buttonA button{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: #71011B;
    cursor: pointer;
    box-shadow: 
    -0.1em 0.2em 0.4em rgba(0,0,0,1),
    -0.2em 0.3em 0.2em rgba(255, 255, 255, 0.25)inset,
    -0.1em 0.1em 0.1em #FC8AAC inset ;
}
.btnText{
    width: 8em;
    display: flex;
    justify-content: space-around;
    transform: rotate(-20deg);
    margin-left: 1em;
    color: darkslateblue;
}

.selectStartSpeakerBox{
    display:flex;
    justify-content: flex-end;
    height: 10%;
}

.selectStart{
    margin-top: 1em;
    margin-right: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.selectBtn{
    margin-right: 0.7em;
    align-self: flex-start;
    transform: rotate(-30deg);
}
.selectBtn button{
    width: 3.5em;
    height: 0.7em;
    cursor: pointer;
    background: #514c65;
    border-radius: 0.2em;
}
.selectBtn p{
    margin: 0 auto;
    font-size:0.8em ;
    color: darkslateblue;
}

.startBtn{
    align-self: flex-start;
    transform: rotate(-30deg);
}
.startBtn button{
    width: 3.5em;
    height: 0.7em;
    cursor: pointer;
    background: #514c65;
    border-radius: 0.2em;
}
.startBtn p{
    margin: 0 auto;
    font-size:0.8em ;
    color: darkslateblue;
}

.speaker{
    width: 8em;
    height: 5em;
    margin-right: 1em;
    align-self: flex-end;
    transform: rotate(-20deg);
    display: flex;
}

.speaker .outputSound{
    height: 100%;
    width: 0.3em;
    background: linear-gradient(28deg,#EFF2F0,#AE9FA6);
    margin-right: 0.7em;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.11em 0.1em 0.11em #35224e;
}

.paper{
    width: 25em;
    height: 40em;
    margin: 6em auto;
    background: linear-gradient(#fef1c3 98%,#e0b8b8 98%);
    background-size: 100% 2.5em;
    font-family: 'Shadows Into Light Two' ;
    padding: 1em;
}
.paper .paperHeader{
    color: darkred;
    font-size: 4em;
}
.paper .paperMain{
    margin: 2em 1em
    
}
.paper span{
    margin: 0.2em;
}